{% autoescape off %}
Здравствуйте,

Мы получили запрос о сбросе пароля для этого аккаунта, привязанного к этому адресу электронной почты. Чтобы подтвердить сброс пароля, перейдите по ссылке ниже.

{{ protocol }}://{{ domain }}{% url 'main:password_reset_confirm' uidb64=uid token=token %}

Эта ссылка может быть использована только один раз. Если вам понадобится сбросить пароль снова, перейдите на сайт {{ protocol }}://{{domain}} и запросите сброс пароля.

Если вы не запрашивали сброс пароля, проигнорируйте это письмо.

С уважением,
Команда Library Management System

{% endautoescape %}