{% extends "main/base.html" %}

{% block title %}
Регистрация
{% endblock %}
{% block content %}

{% load widget_tweaks %}
    <div class="container">
        <h1 class="mt-3">Регистрация</h1>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error|escape }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form class="mt-3" method="POST" action="{% url 'main:register' %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
        </form>
    </div>
{% endblock %}
