{% extends 'main/base.html' %}

{% block title %}
Панель администратора
{% endblock %}
{% block content %}
    <h1>Панель администратора</h1>
    <h2>Настройки</h2>
    <a href="{% url 'main:select_theme' %}" class="btn-action">Сменить тему</a>
    <h2>Пользователи</h2>
    <a href="{% url 'main:user_list' %}" class="btn-more">Список пользователей</a>
    <a href="{% url 'main:register_librarian' %}" class="btn-action">Зарегистрировать библиотекаря</a>
    <h2>Мониторинг действий</h2>
    <table class="log-table">
        <tr>
            <th>Время</th>
            <th>Пользователь</th>
            <th>Объект</th>
            <th>Сообщение</th>
        </tr>
        {% for entry in logs %}
        <tr>
            <td>{{ entry.action_time }}</td>
            <td>{{ entry.user }}</td>
            <td>{{ entry.object_repr }}</td>
            <td>{{ entry.change_message }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
