{% extends 'main/base.html' %}

{% block title %}
Библиотечный фонд
{% endblock %}
{% block content %}
    <a href="{% url 'main:librarian' %}" class="btn-more">Назад</a>
    <h1>Библиотечный фонд</h1>
    <form method="GET">
        <div class="form-group">
            <label for="query">Поиск</label>
            <input type="text" class="form-control" id="query" name="q" value="{{ q }}">
        </div>
        <input type="submit" class="btn-action" value="Найти">
    </form>
    <a href="{% url 'main:new_book' %}" class="btn-action">Добавить новую книгу</a>
    {% if book_list %}
        {% include 'main/paginator.html' %}
        <div class="card-list">
            {% for book in book_list %}
                {% include 'main/book_card.html' %}
            {% endfor %}
        </div>
        {% include 'main/paginator.html' %}
    {% else %}
            <p>По вашему запросу книг не найдено.</p>
    {% endif %}
{% endblock %}
