<div class="card">
    <img class="card-img-top" src="https://pictures.abebooks.com/isbn/{{ lease.book.isbn }}-us.jpg" onerror="imgError(this);">
    <div class="card-contents">
        <div class="card-text">
            <p><i class="fas fa-book mr-2"></i>{{ lease.book.name }}<br><i class="fas fa-user mr-2"></i>{{ lease.student }}<br><i class="fas fa-calendar-day mr-2"></i>{{ lease.expire_date }}</p>
        </div>
        <a href="{% url 'main:lease_detail' lease.id %}" class="card-btn">Подробнее</a>
    </div>
</div>
