{% extends 'main/base.html' %}

{% block title %}
{{ lease.id }}
{% endblock %}
{% block content %}
    <a href="{% url 'main:librarian' %}" class="btn-more">Назад</a>
    <a href="{% url 'main:leases' %}" class="btn-more">Все выдачи</a>
    <div class="side-container">
        <img class="side-image" src="https://pictures.abebooks.com/isbn/{{ lease.book.isbn }}-us.jpg" onerror="imgError(this);">
        <div class="side-info">
            <p>Книга: {{ lease.book.name }}</p>
            <p>Выдана: {{ lease.issue_date }}</p>
            <p>Пользователь: {{ lease.student }}</p>
            <p>Вернуть до: {{ lease.expire_date }}</p>
            {% if lease.is_active %}
            <a href="{% url 'main:return_lease' lease.id %}" class="btn-action">Вернуть книгу</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
