{% extends 'main/base.html' %}

{% block title %}
Выдачи книг
{% endblock %}
{% block content %}
    <a href="{% url 'main:librarian' %}" class="btn-more">Назад</a>
    <h1>Выдачи книг</h1>
    <form method="GET">
        <div class="form-group">
            <label for="query">Поиск</label>
            <input type="text" class="form-control" id="query" name="q">
        </div>
        <input type="submit" class="btn-action" value="Найти">
    </form>
    {% if lease_list %}
        <div class="card-list">
            {% for lease in lease_list %}
                {% if lease.is_active %}
                    {% include 'main/lease_card.html' %}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
            <p>По вашему запросу выдач не найдено.</p>
    {% endif %}
{% endblock %}
