{% extends 'main/base.html' %}

{% block title %}
Управление библиотекой
{% endblock %}
{% block content %}
    <h1 class="first-header">Управление библиотекой</h1>
    <h2>Выдачи книг</h2>
    <div class="card-list">
        {% if nearest_lease_list %}
            {% for lease in nearest_lease_list %}
                {% include 'main/lease_card.html' %}
            {% endfor %}
        {% endif %}
    </div>
    <a href="{% url 'main:leases' %}" class="btn-more">Больше выдач</a>
    <h2>Библиотечный фонд</h2>
    <h3>Последние добавленные книги</h3>
    <div class="card-list">
        {% if latest_book_list %}
            {% for book in latest_book_list %}
                {% include 'main/book_card.html' %}
            {% endfor %}
        {% endif %}
    </div>
    <a href="{% url 'main:books' %}" class="btn-more">Больше книг</a><br>
    <a href="{% url 'main:new_book' %}" class="btn-action">Добавить новую книгу</a>
    <h3>Отчёты</h3>
    <a href="{% url 'main:xlsx_report' %}" class="btn-action">Получить отчёт в формате MS Excel</a>
{% endblock %}
