{% extends 'main/base.html' %}

{% block title %}
Выдать книгу
{% endblock %}
{% block content %}

{% load widget_tweaks %}
    <div class="container">
        <h1 class="mt-3">Выдать книгу {{ book_name }}</h1>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error|escape }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form class="mt-3" method="POST" action="{% url 'main:new_lease' book_id %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.student.label_tag }}
                {% render_field form.student class="form-control" %}
            </div>
            <div class="form-group">
                {% render_field form.book hidden="" %}
            </div>
            <div class="form-group">
                {{ form.expire_date.label_tag }}
                {% render_field form.expire_date class="form-control" type="date" %}
            </div>
            <input type="submit" class="btn btn-primary" value="Выдать">
        </form>
    </div>
{% endblock %}
