{% extends 'main/base.html' %}

{% block title %}
Личный кабинет
{% endblock %}
{% block content %}
    <h1>Личный кабинет</h1>
    <h2>Выдачи книг</h2>
    <a href="{% url 'main:lease_history' %}" class="btn-more"><i class="fas fa-history mr-2"></i>История</a>
    <div class="card-list">
        {% if active_lease_list %}
            {% for lease in active_lease_list %}
                {% include 'main/lease_card_student.html' %}
            {% endfor %}
        {% else %}
        <p>На данный момент нет активных выдачей.</p>
        {% endif %}
    </div>
{% endblock %}
