{% extends 'main/base.html' %}

{% block title %}
Личный кабинет
{% endblock %}
{% block content %}
    <h1>Личный кабинет</h1>
    <h2>Выдачи книг</h2>
    <div class="card-list">
        {% if active_lease_list %}
            {% for lease in active_lease_list %}
                <div class="card">
                    <img class="card-img-top" src="https://pictures.abebooks.com/isbn/{{ lease.book.isbn }}-us.jpg" onerror="imgError(this);">
                    <div class="card-contents">
                        <div class="card-text">
                            <p><i class="fas fa-book mr-2"></i>{{ lease.book.name }}<br><i class="fas fa-calendar-day mr-2"></i>{{ lease.expire_date }}</p>
                        </div>
                        <!-- <a href="#" class="card-btn">Подробнее</a> -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- <a href="#" class="btn-action">Все выдачи</a> -->
{% endblock %}
